/* main.css */

#wrap{
  width:90%; height:auto;
  margin:auto;
  background-color: #425067;
}

#headBox{
  width:100%; height:120px;
  background-color: #fff;
}

h1{
  float:left;
  width:200px; height:40px;
  margin-left:50px; margin-top:40px; 
}

#unb{
  float:right;
  width:500px; height:40px;
  margin-top: 40px;
}

#unb > ul{
  width:100%; height:100%;
}

#unb > ul > li{
  width:50%; height:100%;
  color:#333333;
  text-align: center;
  font-size: 14pt;
}

.login{float:left;}
.sign_up{float:right;}

/* ============================= */
#stepBox{
  width:100%; height:auto; min-height:2000px;
  background-color: #777;
}

/* ============================= */
#storyBox{
  width:100%; height:500px;
  background-color: #acf;
}

/* ============================= */
#footBox{
  width:100%; height:300px;
  background-color: #333;
}